        /* CSS styles for the navigation bar starts here */
        nav {
            background-color: #333;
            color: white;
            text-align: center; /* Center text within the element */
        }

        nav ul {
            list-style-type: none; /* Remove bullets for all unordered lists */
            padding: 0;
        }

        nav li {
            display: inline; /* Make the element inline */
            margin: 0 10px;
        }

        nav a { /*is used to style nav anchor elements.*/
            text-decoration: none;/* Remove underlines from links */
            color: white;
        }
/* CSS styles for the  main page starts here */
main > img {
    width: 300px;
    float: right;
    margin: 10px 0 10px 10px;
}

h2 {
    color: #333; /* Text color */
    font-size: 50px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: center; /* Text alignment */
}

p {
    font-size: 30px; /* Default font size */
}


/* CSS styles for the about page starts here */
#about header {
    font-weight: 300;
    font-size: 2;
}
section {
    border-top: 1px solid #0b0b0b;
    font-size: 16px;
}
* {
    box-sizing: border-box;
}
section {
    display: block;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main {
    min-height: 100vh;
    padding: 25px 24px 96px;
    color: rgb(5, 5, 5);
    font-size: 25px;
}

.float-right {
    float: right;
    margin: 0 0 10px 10px; /* Adjust the margin to create space around the image */
}

p {
    font-size: 20px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: left;
    color: black;
}

/* CSS styles for the portfolio page starts here */
* {
    box-sizing: border-box;
}
div {
    display: block;
}
.project {
    background: #d1cdcd;
    color: #222;
    margin: 10px auto;
    padding: 1px;
}
/* CSS styles for the portfolio page starts here */
footer {
    background-color: #333; /* Background color of the footer */
    color: white; /* Text color of the footer */
    padding: 10px; /* Padding inside the footer */
    border-top: 2px solid #333; /* Border at the top of the footer */
}

footer .media-link {
    height: 45px;
}

/* CSS styles for the contact page starts here */
/* Default styling for the submit button */
#submit-button {
    background-color: #3a3b3a; /* Background color */
    color: white;            /* Text color */
    border: none;            /* Remove border */
    padding: 5px 10px;      /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1px;
    margin: 10px 0;
    cursor: pointer;
}

/* Hover effect for the submit button */
#submit-button:hover {
    background-color: #45a049; /* New background color on hover */
}