* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
  }
  /* CSS styles for the home page starts here */
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    
  }
  .box{
    height: 595px;
    width: 440px;
    background: transparent;
    position: absolute; 
    top: 73px; 
    left: 375px; 
    z-index: 1; 
    margin: 0;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
}
img{
    position: absolute; 
    top: 125px; 
    left: 400px; 
    z-index: 3; 
    margin: 0;
}

  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
    background: transparent;
    
  }
  #main > nav {
    order: -1;
  }
  header, footer {
    background-color: hsl(0, 0%, 1%); 
   color: hsl(120, 17%, 98%);
    height: 10vh;

  }
  header{
    text-align: left;
    padding-bottom: 50px;

  }

 nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav a { /*is used to style nav anchor elements.*/
    text-decoration: none;/* Remove underlines from links */
    color: rgb(8, 8, 8);
    transition: color 0.3s;
    font-weight: lighter;
}
a:hover {
    color: hsl(0, 0%, 55%); /* Change the text color on hover */
    
}
  header, footer, article, nav, aside {
    padding: 1em;
  }
.designer {
    position: absolute; 
    top: 290px; 
    left: 140px; 
    z-index: 3; 
    margin: 0;
    color: #333333;
    text-rendering: optimizelegibility;
    font-weight: normal;
}

.coder {
    position: absolute; 
    top: 290px; 
    left: 827px; 
    z-index: 3;
    margin: 0;
    color: #333333;
    text-rendering: optimizelegibility;
    font-weight: normal;
}



p {
    opacity: 0.5; /* Change the opacity to 50% (semi-transparent) */
}

nav {
   /* background-color: #333;*/
    color: white;
    text-align: center; /* Center text within the element */
}



nav li {
    display: inline; /* Make the element inline */
    margin: 0 10px;
}

header a { /*is used to style nav anchor elements.*/
    text-decoration: none;/* Remove underlines from links */
    color: hsl(0, 0%, 100%);
    transition: color 0.3s;
    font-weight: lighter;
}
.social li {
    display: inline-block;
    border: 0;
    margin-top: 1rem;
    margin-left: 2.4rem;
    height: 3.2rem;
} 
        

/* CSS styles for the about page starts here */
#about-img{
    position: absolute; 
    top: 165px; 
    left: 800px; 
    z-index: 3; 
    margin: 0;  
}

#h1{
    font-size: 96px;
    line-height: 1.2;
    letter-spacing: -0.06em;
    margin-bottom: 0.8rem;
}
#about{
        position: absolute; 
        top: 100px; 
        left: 250px; 
        z-index: 3; 
        margin: 0;
        color: #333333;
        text-rendering: optimizelegibility;
        font-weight: normal;
    }

.image-box {
    position: absolute; 
    top: 360px; 
    left: 200px; 
    z-index: 3; 
    margin: 0;
}
.image-box2 {
    position: absolute; 
    top: 360px; 
    left: -5px; 
    z-index: 3; 
    margin: 0;
}
.image-box3 {
    position: absolute; 
    top: 360px; 
    left: -210px; 
    z-index: 3; 
    margin: 0;
}

/* CSS styles for the portfolio page starts here */
.image-boxA {
    position: absolute; 
    top: -50px; 
    left: 400px; 
    z-index: 3; 
    margin: 0;
}

.image-boxB {
    position: absolute; 
    top: 160px; 
    left: 300px; 
    z-index: 3; 
    margin: 0;
}
.image-boxC {
    position: absolute; 
    top: 260px; 
    left: 410px; 
    z-index: 3; 
    margin: 0;
}
#portfolio{
    position: absolute; 
    top: 100px; 
    left: 150px; 
    z-index: 3; 
    margin: 0;
    color: #333333;
    text-rendering: optimizelegibility;
    font-weight: normal;
}


/* CSS styles for the contact page starts here */
#email-container{
    position: absolute; 
    top: 400px; 
    left: 120px; 
    z-index: 3; 
    margin: 0;
    color: #333333;
    text-rendering: optimizelegibility;
    font-weight: normal;
}




/* Default styling for the submit button */
#submit-button {
    background-color: #3a3b3a; /* Background color */
    color: white;            /* Text color */
    border: none;            /* Remove border */
    padding: 5px 10px;      /* Padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 10px 0;
    cursor: pointer;
}

/* Hover effect for the submit button */
#submit-button:hover {
    background-color: #45a049; /* New background color on hover */
}

/*@media only screen and (min-width: 428px)